/*-------------reset------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

/*-------------------------------*/
/* -------------main-------------- */
.container {
  max-width: 1240px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
}

/* -------------avatar circle----------*/
.circles {
  height: 55vmin;
  width: 55vmin;
  position: absolute;
  margin: 0 auto;
  top: 40%;
  left: 30%;
  -webkit-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
}

.circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 70%;
  height: 70%;
  border: 2.5vmin solid transparent;
  border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
  mix-blend-mode: screen;
}
.circle:nth-child(1) {
  border-color: #87CEFA;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin1 5.5s linear infinite;
          animation: spin1 5.5s linear infinite;
}
.circle:nth-child(2) {
  border-color: #FFFACD;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin2 5.5s linear infinite;
          animation: spin2 5.5s linear infinite;
}
.circle:nth-child(3) {
  border-color: #D8BFD8;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin3 5.5s linear infinite;
          animation: spin3 5.5s linear infinite;
}
.circle:nth-child(4) {
  border-color: #483D8B;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin4 5.5s linear infinite;
          animation: spin4 5.5s linear infinite;
}

.circles__avatar {
  border-radius: 65%;
  max-height: 68%;
  max-width: 68%;
}

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin1 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  100% {
    -webkit-transform: rotate(-288deg);
            transform: rotate(-288deg);
  }
}
@keyframes spin2 {
  0% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
  }
  100% {
    -webkit-transform: rotate(-288deg);
            transform: rotate(-288deg);
  }
}
@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
  100% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
}
@keyframes spin3 {
  0% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
  100% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
}
@-webkit-keyframes spin4 {
  0% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  100% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
}
@keyframes spin4 {
  0% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
  }
  100% {
    -webkit-transform: rotate(-144deg);
            transform: rotate(-144deg);
  }
}
/*----------hero section-----------*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 250px;
  margin-bottom: 380px;
}

.hero__title {
  font-size: 48px;
  font-weight: 900;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  -webkit-animation: ani 2s forwards;
  animation: ani 2s forwards;
  margin-bottom: 20px;
}

.hero__desc {
  font-size: 42px;
  font-weight: 300;
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  -webkit-animation: ani 1.2s forwards;
  animation: ani 1.2s forwards;
}

@-webkit-keyframes ani {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes ani {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/*----------nav menu-----------*/
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-menu li {
  font-size: 32px;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.09);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.09);
  text-align: center;
  padding: 18px 0;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-menu li a {
  padding: 30px 80px;
}
.nav-menu li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.nav-menu li:last-child {
  margin-right: 0;
}