@import "reset.scss";
@mixin fonts($ff, $fw, $fs, $lh) {
	font-family: $ff;
	font-weight: $fw;
	font-size: $fz;
	line-height: $lh;
}
/* -------------main-------------- */
.container {
	max-width: 1240px;
	margin: 0 auto;
}
body {
	font-family: 'Montserrat', Arial, sans-serif;
}
/* -------------avatar circle----------*/
$spin-time: 5.5s;
$circle-size: 55vmin;
$circle-stroke: 2.5vmin;
$displacement: 0%;
.circles {
    height: $circle-size;
    width: $circle-size;
    position: absolute;
    margin: 0 auto;
    top: 40%;
    left: 30%;
    transform: translate3D(-50%, -50%, 0);
}

.circle {
    box-sizing: border-box;
    position: absolute;
    width: 70%;
    height: 70%;
    border: $circle-stroke solid transparent;
    border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
    mix-blend-mode: screen;
    &:nth-child(1) {
        border-color: #87CEFA;
        transform-origin: 50%-$displacement 50%;
        animation: spin1 $spin-time linear infinite;
    }
    &:nth-child(2) {
        border-color: #FFFACD;
        transform-origin: 50% 50%+$displacement;
        animation: spin2 $spin-time linear infinite;
    }
    &:nth-child(3) {
        border-color: #D8BFD8;
        transform-origin: 50%+$displacement 50%;
        animation: spin3 $spin-time linear infinite;
    }
    &:nth-child(4) {
        border-color: #483D8B;
        transform-origin: 50% 50%-$displacement;
        animation: spin4 $spin-time linear infinite;
    }
}
.circles__avatar {
	border-radius: 65%;
	max-height: 68%;
	max-width: 68%;
}
@keyframes spin1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(72deg);
    }
    100% {
        transform: rotate(-288deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(-144deg);
    }
    100% {
        transform: rotate(216deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(216deg);
    }
    100% {
        transform: rotate(-144deg);
    }
}
/*----------hero section-----------*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 250px;
  margin-bottom: 380px;
}
.hero__title {
	font-size: 48px;
	font-weight: 900;
	-webkit-transform: translateY(-150%);
          transform: translateY(-150%);
 	-webkit-animation: ani 2s forwards;
          animation: ani 2s forwards;
          margin-bottom: 20px;
}
.hero__desc {
	font-size: 42px;
	font-weight: 300;
	-webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  	-webkit-animation: ani 1.2s forwards;
          animation: ani 1.2s forwards;
}
@-webkit-keyframes ani {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ani {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/*----------nav menu-----------*/
.nav {
}
.nav-menu {
	display: flex;
	justify-content: space-between;
	li {
		a {
			padding: 30px 80px;
		}
		font-size: 32px;
		box-shadow: 0 15px 20px rgba(0,0,0,0.09);
		text-align: center;
		padding: 18px 0;
		background-color: #fff;
		transition: 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}
	li:last-child {
		margin-right: 0;
	}
}
